// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
// @import "grid-settings";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";


// nayoung custom -portfolio

.pofo_ul li {float:left;border:1px solid orange;padding:2px 5px; margin:0 5px;text-decoration: none; font-size:modular-scale(-1);border-radius: 5px;}
.pofo_content {font-size:modular-scale(-1);}
