// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
// @import "grid-settings";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";


// nayoung custom -portfolio
.pages_pofo {padding-bottom:100px;}
.pages_pofo .post-header {padding:40px 0 80px!important;}
.wrapper_pofo {max-width: 55em !important;}
.pofo_con {overflow:hidden;}
.pofo_con article {width:65%; float:left; }
.pofo_con article:nth-of-type(2) {width:35%; padding-left:30px;}
.pofo_ul {overflow:hidden; list-style-type: none; padding-left: 0;}
// .pofo_ul li {float:left; border:1px solid orange;padding:2px 8px; margin:0 5px;text-decoration: none; font-size:modular-scale(-1); border-radius: 5px;}
.pofo_ul li {width:45px; height:45px; line-height:45px; float:left; border:1px solid orange; margin:0 5px; text-align: center;text-decoration: none; font-size:modular-scale(-2); border-radius: 50%;}
.pofo_ul li:first-child{margin-left: 0;}
p.pofo_content {font-size:modular-scale(-1); line-height: 1.5; margin:0;}

.pofo_left h4 {margin-bottom:0;}
.pofo_left h4 > strong{font-size:modular-scale(-2); background-color:#0c6f9f; padding:4px 15px; border-radius:15px; color:#e8f3f7; font-weight:normal;}
.pofo_left h4 > span{display:block; padding-top:10px; font-size:modular-scale(-2); color:#b1adad; font-weight: 400;}
.pofo_left > div:nth-of-type(1) {min-height:140px;}
.pofo_left > div:last-child {position: relative;bottom: 0; overflow:hidden; border-top: 1px solid #b1adad; padding-top: 10px;}
.pofo_left > div:last-child p{float:left; margin:0;font-size: 0.9em; padding-top: 4px;}
.pofo_left > div:last-child span{float:right;}



// nayoung custom -about
.about_page .pofo_ul li{width: auto;height: auto; line-height: normal;padding: 2px 8px; border-radius: 3px;}
.about_page > p {display:none;}
.pofo_img img{padding-top:100px;}
.aboutme { width:100%; min-height: 668px; background:url(/assets/AboutMe02.jpg) no-repeat; background-size: 100%;}
.aboutme > div {width:290px; padding-top:15px;}
.aboutme li{font-family: 'Yrsa', serif; font-weight:400; list-style: none;}
.aboutme li:nth-of-type(2) {font-weight:700; letter-spacing: 1px; padding: 70px 0 25px;}
.aboutme li h1{font-family: 'Libre Baskerville', serif; margin:0; text-align:center; line-height:100px; letter-spacing: 0.1em; font-size: 4.5em; font-weight: 100; color: #000;}
.aboutme li p {margin:0; font-weight:500;}
.aboutme li p span {padding-right:10px; font-weight:700; letter-spacing: 1px;}

//comments
.tab-conversation.active>a.publisher-nav-color span{color:red !important;}
.active .nav-tab>a:after, .tab-conversation.active>a:after {color:red !important;}
.comment__footer .author, .comment__header .author {color:red !important;}
.comment__footer .vote-down:hover, .comment__footer a:hover, .comment__header .vote-down:hover, .comment__header a:hover {color:red !important;}


@media all and (max-width: 639px) {
.pofo_con article , .pofo_con article:nth-of-type(2)  {width:100%; float:none; padding:0;}
.page-content .page .post-header {padding:20px 40px !important;}
.pofo_left > div:nth-of-type(1) {min-height: 6em;}

.about_page > p {display:block;}
.aboutme {display:none;}


}
